<section data-ng-controller="HomeController">
	<div class="col-md-12 text-center">
		<div class="row"> 
			<h2>Welcome To</h2>
		</div>
		<div class="row">
			<h1>Apology.fm</h1>
		</div>
		<div class="row">
			<h2>
				We want to promote sensational 
				apology minus the fear. This is 
				an app to give and listen to 
				apology
			</h2>
			<div>		
				<div class="alert alert-warning text-center" data-ng-if="apology.$resolved && !apology.length">
					No articles yet, why don't you <a href="#!/apology/create">create one</a>?
				</div>
			</div>
		</div>
	</div>
</section>